body {
    background-color: #E0D1FF;
}

a:visited {
    color: #672B2B;
}

a {
    color: #CC0000;
}

td, th {
    border: 1px solid;
    border-collapse:collapse;
    text-align: center;
    padding: 2px;
    background-color: #9191D1;
}

table {
    border: 1px solid;
}



#submit {
    background-color: #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    color: black;
    font-family: 'Oswald';
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
}

#submit:hover {
    background: gray;
    box-shadow: 0px 0px 1px #777;
}


#nav {
    position:fixed;
    top: 10px;
    left: 33%;
    margin-top: -9px; /*set to a negative number 1/2 of your height*/
    margin-left: -15px; /*set to a negative number 1/2 of your width*/
    background-color: #9191D1;
}

