
<table>
{% for item, value in items.items %}


{% if item.type == "potion" %}
<tr>
    <td>
        {% if item in equipped %}**{% endif %}<a href="{% url 'arenafighter:potion_detail' item.id %}">{{ item }}</a><br/>
    </td>
        {% if sell %}
    <td>
        <form action="{% url 'arenafighter:sell_potion' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Sell" id="submit"/>
        </form>
    </td>
        {% endif %}
    {% if not sell %}
    <td>
        <form action="{% url 'arenafighter:use_potion' %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="False" name="battle"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Use Potion" id="submit"/>
        </form>
    </td>
    {% endif %}
</tr>
{% endif %}

{% if item.type == "weapon" %}
<tr>
    <td>
        {% if item in equipped %}**{% endif %}<a href="{% url 'arenafighter:weapon_detail' item.id %}">{{ item }}</a><br/>
    </td>
    {% if not sell %}
    <td>
        <form action="{% url 'arenafighter:equip_weapon' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Equip" id="submit"/>
        </form>
    </td>
    <td>
        <form action="{% url 'arenafighter:unequip_weapon' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Un-Equip" id="submit"/>
        </form>
    </td>
    {% endif %}
        {% if sell %}
    <td>
        <form action="{% url 'arenafighter:sell_weapon' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Sell" id="submit"/>
        </form>
    </td>
        {% endif %}
</tr>
{% endif %}


{% if item.type == "armor" %}
<tr>
    <td>
        {% if item in equipped %}**{% endif %}<a href="{% url 'arenafighter:armor_detail' item.id %}">{{ item }}</a><br/>
    </td>
    {% if not sell %}
    <td>
        <form action="{% url 'arenafighter:equip_armor' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Equip" id="submit"/>
        </form>
    </td>
    <td>
        <form action="{% url 'arenafighter:unequip_armor' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Un-Equip" id="submit"/>
        </form>
    </td>
    {% endif %}
        {% if sell %}
    <td>
        <form action="{% url 'arenafighter:sell_armor' item.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item.id}}" name="item_id"/>
        <input type="hidden" value="purchase" name="purchase"/>
        <input type="submit" value="Sell" id="submit"/>
        </form>
    </td>
        {% endif %}
</tr>
{% endif %}

{% endfor %}

</table>