{% load staticfiles %}

<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

</head>
<body>
<br/>
<a href="{% url 'sitehome' %}">Home</a>
<br/>
<a href="{% url 'grophy:about' %}">About</a>
<br/>
<a href="{% url 'grophy:portfolio' %}">Portfolio</a>
<br/>
<a href="{% url 'grophy:resume' %}">Resume</a>
<br/>
<a href="{% url 'grophy:blog' %}">Travel Blog</a>
<br/>
<a href="{% url 'grophy:videos' %}">Videos!</a>
<br/>

<br/>
Hi! Im grophy! I have a super sexy husband named Josh! I'm a super talented graphic artist and you should hiare me!


<br/>
<br/>
Twitter | linkedin | vimeo | instagram | pinterest | tumblr | flickr


</body>

</html>