body {
	background-color: #abb0c3;
}

.category-box {
	background-color: #4a6181;
	height: 50px;
	border-bottom: 10px;
}

#main-columns {

	columns: 3;
	width: 80%;
	margin-right: 100px;
}

#grophy-side-nav {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 10%;
	left: auto;
	width: 20%;
	height: 80%;
	float: right;
	border-left: 30px;
	margin-left: 50px;
	padding-left: 5px;
	border-style: none 0px 0px 0px;
	border-style: solid;
	border-color: black;
}

.expanded-nav-div-active {
	background-color: white;
	width: 100%;
	height: 35px;
	cursor: pointer;

}
/* https://codepen.io/Cheesetoast/pen/KFAaq 
	the above link for where i got ideas from
*/
#portfolio-list {
	max-width: 80%;
/*	columns: 3;
	column-gap: 50px;
	*/
	display: flex;
	flex-flow: row wrap;	

/*	width: 80%;
	max-width: 80%;
*/}

.portfolio-list-item {
	flex: auto;
	flex-basis: 25%;
	overflow: hidden;
	max-height: 250px;
	position: relative;
	margin-right: 35px;
	margin-left: 35px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.portfolio-list-item-content {
    display: inline-block;
    position: relative;
    right: -50%;
    top: -150%;
}

.overflow-hidden {
	overflow: hidden;
}

.main-content {
	width: 80%;
}


img {
/*	position:relative;
	left: -50%;
*/
}

/*
.portfolio-list-item {
	overflow: hidden;
	height: 50%;
	max-height: 50%;

	transform: translateY(-20%);
	}

img.portfolio-item {
}

.column-left{
	float: left; 
	width: 33%;
	max-width: 33%;
	margin-bottom: 5px;
	margin-top: 5px;
 }
.column-right{ 
	float: right; 
	width: 33%;
	max-width: 33%;
	margin-bottom: 5px;
	margin-top: 5px;
 }
.column-center{ 
	display: inline-block; 
	width: 30%;
	max-width: 30%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
 }
*/


/* unvisited link */
a:link {
    color: #d2d9e1;
}

/* visited link */
a:visited {
    color: #0f0d23;
}



.dark-blue {
	background-color: #0f0d23;
}

.mid-dark-blue {
	background-color: #272f42;
}


.light-blue {
	background-color: #d2d9e1;
}

body {
    font-size: 18px;
    font-family: 'Signika';
/*    font-family: 'ABeeZee';
    font-family: 'Amatic SC';
    font-family: 'Signika';
    font-family: 'Dosis';
    font-family: 'Ubuntu';
    font-family: 'PT Sans';
    font-family: 'Raleway';
    font-family: 'ABeeZee';
    font-family: 'ABeeZee';
    font-family: 'ABeeZee';*/
}