body {
	background-color: #abb0c3;
}

.category-box {
	background-color: #4a6181;
	height: 50px;
	border-bottom: 10px;
}

#main-columns {

	columns: 3;
	width: 80%;
	margin-right: 100px;
}

#grophy-side-nav {
	box-sizing: border-box;
	position: fixed;
	bottom: 0;
	right: 0;
	top: 10%;
	left: auto;
	width: 20%;
	height: 80%;
	float: right;
	border-left: 30px;
	margin-left: 50px;
	padding-left: 5px;
	border-style: none 0px 0px 0px;
	border-style: solid;
	border-color: black;
}

.expanded-nav-div-active {
	background-color: white;
	width: 100%;
	height: 35px;
	cursor: pointer;

}

#portfolio-list {
	columns: 3;
	width: 80%;
	max-width: 80%;
	column-fill: balance;
	column-gap: 50px;
}

.portfolio-list-item {
	width: 100%;
	max-width: 100%;
}

img.portfolio-item {
	max-width: 100%;
}

.column-left{
	float: left; 
	width: 33%;
	max-width: 33%;
 }
.column-right{ 
	float: right; 
	width: 33%;
	max-width: 33%;
 }
.column-center{ 
	display: inline-block; 
	width: 33%;
	max-width: 33%;
 }



/* unvisited link */
a:link {
    color: #d2d9e1;
}

/* visited link */
a:visited {
    color: #0f0d23;
}



.dark-blue {
	background-color: #0f0d23;
}

.mid-dark-blue {
	background-color: #272f42;
}


.light-blue {
	background-color: #d2d9e1;
}

body {
    font-size: 18px;
    font-family: 'Signika';
/*    font-family: 'ABeeZee';
    font-family: 'Amatic SC';
    font-family: 'Signika';
    font-family: 'Dosis';
    font-family: 'Ubuntu';
    font-family: 'PT Sans';
    font-family: 'Raleway';
    font-family: 'ABeeZee';
    font-family: 'ABeeZee';
    font-family: 'ABeeZee';*/
}