{% extends 'base.html' %}


{% block content %}

You're fighting: {{ enemy }}<br/>
enemy ID:  {{ enemy.id }}
<br/><br/><br/>
They've got<br/>
{{ enemy.current_hp }}/{{ enemy.hpmax }}
<br/>
HP!
<br/><br/><br/>

You have: {{ user.profile.current_character.current_hp }}/{{ user.profile.current_character.hpmax }}
<br/><br/><br/>


{{ message }}
<br/><br/>
<form action="{% url 'arenafighter:attack' %}" method="post">{% csrf_token %}
<input type="hidden" value="{{ enemy.id }}" name="enemy_id"/>
<input type="submit" value="KEEP FIGHTIN', BITCH!" id="submit"/>
</form>
<form action="{% url 'arenafighter:player_info' user.profile.current_character_id %}" method="get">{% csrf_token %}
<input type="submit" value="RUN AWAY LIKE A MUTHAFUCKER!" id="submit"/>
</form>

Or, use a potion if you have one?

<table>
{% for item in user.profile.current_character.items %}
    <tr>
    {% if item.item_type == "potion" %}
        <td>{{ item }}</td>
        <td>
            <form action="{% url 'arenafighter:use_potion' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ enemy.id }}" name="enemy_id"/>
                <input type="hidden" value="{{ item.id }}" name="item_id"/>
                <input type="submit" value="Use Potion" name="use_potion" id="submit"/>
            </form>
        </td>
    {% endif %}
    </tr>
{% endfor %}
</table>


{% endblock %}


