{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<p>You are currently playing as {{ user.profile.current_character }}</p>

<p>The following characters are available for you to play as:</p>
{% for char in characters %}
    <a href="{% url 'arenafighter:player_info' char.id %}">{{ char }}</a><br/>
{% endfor %}

<p>Or create a new character</p>
<form action="" method="post">{% csrf_token %}
{{ form.name }}
<input type="submit" value="Create New Character" id="submit"/>
</form>
<br/>
<br/>
{% else %}
<center>
<a href="{% url 'arenafighter:signup' %}">Create a user</a>
<a href="{% url 'arenafighter:log_in' %}">Login</a>
</center>
{% endif %}


{% comment %}
jQuery(document).ready(function() {
  jQuery('a.confirm').click(function(event) {
    event.preventDefault()
    var url = $(this).attr('href');
    var confirm_box = confirm('Are you sure you want to click this link?');
    if (confirm_box) {
       window.location = url;
       //uncomment below and remove above if you want the link to open in a new window
       //window.open(url,'_blank');
    }
  });
});
{% endcomment %}



{% endblock %}