{% extends 'base.html' %}
{% block content %}
{% if not store %}
Looks like you're not in a location with a store, fella. Try going to a location with a store to buy or sell things.
{% else %}
Well, hello there, stranger! Welcome to the shop.
<br/><br/><br/>
If yer in the mood to make some coin, you can always <a href="{% url 'arenafighter:sell_detail' %}">SELL</a> some items from your inventory.
<br/>
<br/>
<table>
    <tr>
        <td>POTION NAME</td>
        <td>PURCHASE VALUE</td>
        <td></td>
    </tr>
    {% for potion in potions %}
    <tr>
        <td><a href="{% url 'arenafighter:store_potion_detail' potion.id %}">{{ potion }}</a></td>
        <td><center>{{potion.buy_value}}</center></td>
        <td><form action="{% url 'arenafighter:purchase_potion' potion.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{item.id}}" name="item_id"/>
            <input type="hidden" value="purchase" name="purchase"/>
            <input type="submit" value="Purchase" id="submit"/>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br/>
<table>
    <tr>
        <td>WEAPON NAME</td>
        <td>PURCHASE VALUE</td>
        <td></td>
    </tr>
{% for weapon in weapons %}
    <tr>
        <td><a href="{% url 'arenafighter:store_weapon_detail' weapon.id %}">{{ weapon }}</a></td>
        <td><center>{{ weapon.buy_value }}</center></td>
        <td><form action="{% url 'arenafighter:purchase_weapon' weapon.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ weapon.id }}" name="item_id"/>
            <input type="hidden" value="purchase" name="purchase"/>
            <input type="submit" value="Purchase" id="submit"/>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
<br/>

<table>
    <tr>
        <td>ARMOR NAME</td>
        <td>PURCHASE VALUE</td>
        <td></td>
    </tr>
{% for armor in armors %}
    <tr>
        <td><a href="{% url 'arenafighter:store_armor_detail' armor.id %}">{{ armor }}</a><br/></td>
        <td><center>{{ armor.buy_value }}</center></td>
        <td><form action="{% url 'arenafighter:purchase_armor' armor.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{ armor.id }}" name="item_id"/>
            <input type="hidden" value="purchase" name="purchase"/>
            <input type="submit" value="Purchase" id="submit"/>
            </form>
        </td>
    </tr>
{% endfor %}
</table>
{% endif %}
{% endblock %}