<html>

<head></head>
<title>{% block title %}Josh's ARENA FIGHTER{% endblock %}
</title>
<body>
<p><center><h2>Welcome to Arena-Fighter! The lamest game you'll ever play! (not really)</h2></center></p>

{% block content %}{% endblock %}


{% block footer_nav %}
<center>
{% if user.is_authenticated %}
{% with character_id=user.profile.current_character_id %}
You are currently logged in as {{ user.username }}
<br/>
<a href="{% url 'home' %}">HOME</a>

    {% if character_id %}
     | <a href="{% url 'player_info' character_id %}">CHARACTER INFO</a>
 | <a href="{% url 'arena' %}">TO BATTLE!!</a> |
<a href="{% url 'store' %}">STORE</a>
    {% endif %}
{% endwith %}
| <a href="{% url 'log_out' %}">LOGOUT</a>
{% endif %}
<br/>
</center>
{% endblock %}
</body>

</html>