<html>

<head></head>
<title>{% block title %}{% endblock %}</title>
<body>
{% block content %}{% endblock %}
<p>You are currently playing as {{ user.profile.current_character }}</p>


{% block footer_nav %}
{% if request.path != '/' %}<a href="{% url 'home' %}">HOME</a> | {% endif %}
{% if user.profile.current_character %}
<a href="{% url 'player_info' user.profile.current_character.id %}">CHARACTER INFO</a> |
{% endif %}
{% if user.is_authenticated %}
<a href="{% url 'battle' %}">TO BATTLE!!</a> |
<a href="{% url 'store' %}">STORE</a> |
<a href="{% url 'log_out' %}">LOGOUT</a>{% endif %}
{% endblock %}
</body>

</html>