{% extends 'base.html' %}
{% block title %}Josh's ARENA FIGHTER{% endblock %}

{% block content %}
<p><center><h2>Welcome to Arena-Fighter! The lamest game you'll ever play! (not really)</h2></center></p>

<p>You are currently playing as {{ request.user.profile.current_character }}</p>

<p>The following characters are available for you to play as:</p>
{% for char in characters %}
    <a href="{% url 'player_info' char.id %}">{{ char }}</a><br/>
{% endfor %}

<p>Or create a new character</p>
<form action="" method="post">{% csrf_token %}
{{ form.name }}
<input type="submit" value="Create New Character"/>
</form>
<a href ="{% url 'battle' %}">ONWARD, TO GLORIOUS BATTLE!!</a><br/>

{% if not request.user.is_authenticated %}
<a href="{% url 'signup' %}">Create a user</a>
<a href="{% url 'log_in' %}">Login</a>
{% endif %}
<br/>
<br/>
{% endblock %}