{% extends 'base.html' %}
{% block title %}Your Character's Information{% endblock %}
{% block content %}
<p>NAME: {{ character.name }}</p>
<p>LEVEL {{ character.level }}</p>
<p>HP {{ character.hpmax }}</p>
<p>base attack {{ character.base_attack }}</p>
<p>base defense {{ character.base_defense }}</p>
<p>GOLD {{ character.gold }}</p>
<p>XP {{ character.xp }}</p>
<p>FIGHTS WON {{ character.fights_won }}</p>
<p>FIGHTS LOST {{ character.fights_lost }}</p>
-----------------------------
<p>INVENTORY: </p>
{% for item in character.inventory.items.all %}
<p> **  {{ item }}</p>
{% endfor %}
{% for item in character.inventory.weapons.all %}
<p> **  {{ item }}</p>
{% endfor %}
{% for item in character.inventory.armors.all %}
<p> **  {{ item }}</p>
{% endfor %}
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
{% if character == current_character %}
*** THIS IS YOUR CURRENT CHARACTER ***
{% endif %}
<br/> <br/>

<a href="{% url 'play_as_character' character.id %}">Play as this Character</a><br/>
<a href="{% url 'delete' character.id %}">Delete Character</a><br/><br/>

{% endblock %}