{% extends 'base.html' %}
{% block title %}Your Character's Information{% endblock %}
{% block content %}

{% if character.dead %}
    *** THIS CHARACTER IS INCAPACITATED. USE A HEALING POTION TO FULLY CURE HIM/HER ***
{% endif %}
{% if message %}
    {{ message }}
{% endif %}
<table>
    <tr>
        <td>NAME</td>
        <td>{{ character.name }}</td>
    </tr>
    <tr>
        <td>LEVEL</td>
        <td>{{ character.level }}</td>
    </tr>
    <tr>
        <td>HP</td>
        <td>{{ character.current_hp}}/{{ character.hpmax }}</td>
    </tr>
    <tr>
        <td>base attack</td>
        <td>{{ character.base_attack }}</td>
    </tr>
    <tr>
        <td>base defense</td>
        <td>{{ character.base_defense }}</td>
    </tr>
    <tr>
        <td>GOLD</td>
        <td>{{ character.gold }}</td>
    </tr>
    <tr>
        <td>XP</td>
        <td>{{ character.xp }}</td>
    </tr>
    <tr>
        <td>FIGHTS WON</td>
        <td>{{ character.fights_won }}</td>
    </tr>
    <tr>
        <td>FIGHTS LOST</td>
        <td>{{ character.fights_lost }}</td>
    </tr>
</table>
-----------------------------
<p>INVENTORY:</p>
{% include 'inventory_list.html' with items=items %}
<p></p>
<p></p>
<p></p>
<p>EQUIPPED ITEMS:</p>
{% for item in equipped_items %}
**  {{ item }}<br/>
{% endfor %}

<p></p>
<p></p>
{% if character == current_character %}
*** THIS IS YOUR CURRENT CHARACTER ***
{% endif %}
<br/> <br/>

<a href="{% url 'play_as_character' character.id %}">Play as this Character</a><br/>
<a href="{% url 'delete' character.id %}">Delete Character</a><br/><br/>

{% endblock %}