{% extends 'base.html' %}
{% block title %}Your Character's Information{% endblock %}
{% block content %}

{% if character.dead %}
    *** THIS CHARACTER IS INCAPACITATED. USE A HEALING POTION TO FULLY CURE HIM/HER ***
{% endif %}
{% if message %}
    {{ message }}
{% endif %}
<p>INVENTORY:</p>
{% include 'partials/inventory_list.html' with items=items %}
<p></p>
<p></p>
<p></p>
<p>EQUIPPED ITEMS:</p>
{% for item in equipped_items %}
{{ item }}<br/>
{% endfor %}

<p></p>
<p></p>
{% if character == current_character %}
*** THIS IS YOUR CURRENT CHARACTER ***
{% endif %}
<br/> <br/>

<a href="{% url 'play_as_character' character.id %}">Play as this Character</a><br/>
<a href="{% url 'delete' character.id %}">Delete Character</a><br/><br/>

{% endblock %}