

{% for item, value in items.items %}
{% if item.type == "potion" and not sell %}
**  <a href="{% url 'item_detail' item.id %}">{{ item }}</a><br/>
{% elif item.type == "potion" and sell %}
**  <a href="{% url 'sell_item_detail' item.id %}">{{ item }}</a><br/>
{% endif %}
{% if item.type == "weapon" and not sell %}
**  <a href="{% url 'weapon_detail' item.id %}">{{ item }}</a><br/>
{% elif item.type == "weapon" and sell %}
**  <a href="{% url 'sell_weapon_detail' item.id %}">{{ item }}</a><br/>
{% endif %}
{% if item.type == "armor" and sell %}
**  <a href="{% url 'sell_armor_detail' item.id %}">{{ item }}</a><br/>
{% elif item.type == "armor" and not sell %}
**  <a href="{% url 'armor_detail' item.id %}">{{ item }}</a><br/>
{% endif %}
{% endfor %}

