{% extends 'base.html' %}


{% block content %}
<p>ITEM:  {{ item.name }}
</p>
<p>DESCRIPTION: {{ item.description }}
</p>
<p>PURCHASE VALUE:  {{ item.buy_value }}
</p>
<p>SELL VALUE: {{ item.sell_value }}
</p>
<p>INVENTORY SLOTS REQUIRED:  {{ item.slots_required }}
</p>



{% if item.inventory and not store and form %}
<p>OWNER:  {{ item.inventory }}</p>
<form action="" method="post">{% csrf_token %}
<input type="hidden" value="{{ item.id }}" name="item_id"/>
<input type="submit" value="EQUIP THIS ITEM"/>
</form>
{% endif %}
<p>ITEM TYPE:  {{ item.type }}
</p>

</p>


<p>
{% if item.defense_value %}
DEFENSE VALUE:  {{ item.defense_value }}
{% endif %}
</p>
<p>
{% if item.attack_value %}
ATTACK VALUE:  {{ item.attack_value }}
{% endif %}
</p>

{% if purchase_form %}
<form action="" method="post">
{% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="purchase" name="purchase"/>
    <input type="submit" value="Purchase"/>
</form>
{% endif %}

{% if equip_form %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="equip" name="equip"/>
    <input type="submit" value="Equip"/>
</form>
{% endif %}

{% if sell %}
<a href="{% url 'sell_item' item.type item.id %}">Sell</a>
{% endif %}




{% endblock %}


