{% extends 'base.html' %}


{% block content %}
<p>ITEM:  {{ item.name }}
</p>
<p>DESCRIPTION: {{ item.description }}
</p>
<p>PURCHASE VALUE:  {{ item.buy_value }}
</p>
<p>SELL VALUE: {{ item.sell_value }}
</p>
<p>INVENTORY SLOTS REQUIRED:  {{ item.slots_required }}
</p>
{% if item.inventory %}
<p>OWNER:  {{ item.inventory }}</p>
{% if not item.equipped_on.all and item.type == 'Weapon' %}
<a href="{% url 'equip' item.type item.id %}">EQUIP THIS ITEM</a>
{% endif %}
{% endif %}
<p>ITEM TYPE:  {{ item.type }}
</p>
<p>{% if user.profile.current_character not in item.equipped_on.all %}
THIS ITEM EQUIPPED ON:  {{ item.equipped_on.all }}
{% if not store %}
<a href="{% url 'equip' item.type item.id %}">EQUIP THIS ITEM</a>
{% endif %}
{% endif %}
</p>

<p>
{% if item.defense_value %}
DEFENSE VALUE:  {{ item.defense_value }}
{% endif %}
</p>
<p>
{% if item.attack_value %}
ATTACK VALUE:  {{ item.attack_value }}
{% endif %}
</p>

{% if store %}
{% if item.type == 'Weapon' %}
<a href="{% url 'buy_weapon' item.id %}">
{% elif item.type == 'InventoryItem' %}
<a href="{% url 'buy_item' item.id %}">
{% elif item.type == 'Armor' %}
<a href="{% url 'buy_armor' item.id %}">{% endif %}
Purchase</a>
{% endif %}



{% endblock %}


