{% extends 'base.html' %}


{% block content %}
<table border="1px">
    <tr>
        <td>ITEM</td>
        <td>{{ item.name }}</td>
    </tr>
    <tr>
        <td>DESCRIPTION</td>
        <td>{{ item.description }}</td>
    </tr>
    <tr>
        <td>ITEM TYPE</td>
        <td>{{ item.type }}</td>
    </tr>
    <tr>
        <td>PURCHASE VALUE</td>
        <td>{{ item.buy_value }}</td>
    </tr>
    <tr>
        <td>SELL VALUE</td>
        <td>{{ item.sell_value }}</td>
    </tr>

    <tr>
        <td>INVENTORY SLOTS REQUIRED</td>
        <td>{{ item.slots_required }}</td>
    </tr>

    {% if item.defense_value %}
    <tr>
        <td>DEFENSE VALUE</td>
        <td>{{ item.defense_value }}</td>
    </tr>
    {% endif %}

    {% if item.defense_value %}
    <tr>
        <td>ATTACK VALUE</td>
        <td>{{ item.attack_value }}</td>
    </tr>
    {% endif %}
</table>




{% if purchase_form %}
<form action="" method="post">
{% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="purchase" name="purchase"/>
    <input type="submit" value="Purchase"/>
</form>
{% endif %}

{% if sell_form %}
<form action="" method="post">
{% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="sell" name="sell"/>
    <input type="submit" value="Sell"/>
</form>
{% endif %}

{% if equip_form and item.inventory == user.profile.current_character.inventory and item.equipped == False %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="equip" name="equip"/>
    <input type="submit" value="Equip"/>
</form>
{% endif %}

{% if unequip_form and item.inventory == user.profile.current_character.inventory and item.equipped == True %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" value="{{item.id}}" name="item_id"/>
    <input type="hidden" value="unequip" name="unequip"/>
    <input type="submit" value="Un-Equip"/>
</form>
{% endif %}

{% if sell %}
<a href="{% url 'sell_item' item.type item.id %}">Sell</a>
{% endif %}




{% endblock %}


