{% extends 'base.html' %}
{% block content %}
Well, hello there, stranger! Welcome to the shop.

<br/><br/><br/>
<p>ITEMS:</p>
{% for item, value in items.items %}
<p>** <a href="{% url 'shop_item' item %}">{{ item }}</a> x {{ value }}</p>
{% endfor %}
<br/><br/><br/>
<p>WEAPONS:</p>
{% for weapon, value in weapons.items %}
<p>** <a href="{% url 'shop_weapon' weapon %}">{{ weapon }}</a> x {{ value }}</p>
{% endfor %}
<br/><br/><br/>
<p>ARMORS:</p>
{% for armor, value in armors.items %}
<p>**  <a href="{% url 'shop_armor' armor %}">{{ armor }}</a> x {{ value }}</p>
{% endfor %}



{% endblock %}