{% extends 'base.html' %}
{% block content %}
Well, hello there, stranger! Welcome to the shop.
<br/><br/><br/>
If yer in the mood to make some coin, you can always <a href="{% url 'sell_detail' %}">SELL</a> some items from your inventory.
<p>ITEMS:</p>
{% for potion in potions %}
** <a href="{% url 'store_item_detail' potion.id %}">{{ potions.0 }}</a><br/>
{% endfor %}
<br/>
<p>WEAPONS:</p>
{% for weapon in weapons %}
** <a href="{% url 'store_weapon_detail' weapon.id %}">{{ weapon }}</a><br/>
{% endfor %}
<br/>
<p>ARMORS:</p>
{% for armor in armors %}
** <a href="{% url 'store_armor_detail' armor.id %}">{{ armor }}</a><br/>
{% endfor %}


{% endblock %}